<div class="debcontainer">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <a class="text-muted" href="#">Subscribe</a>
          </div>
          <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="#">Debchat</a>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <a class="text-muted" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
            </a>
            <a class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#modalLoginForm">Sign up</a>
          </div>
        </divd>
      </header>

      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 text-muted" href="#">Home</a>
          <a class="p-2 text-muted" href="#">Participated Debates</a>
          <a class="p-2 text-muted" href="#">Hot Debates</a>
          <a class="p-2 text-muted" href="#">On Going Debates</a>
          <a class="p-2 text-muted" href="#">Followign Debates</a>
          
        </nav>
      </div>

      <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class=" font-italic">Funtional Programming Vs OOP</h1>
          <p class="lead my-3">The Object-Oriented Programming vs Functional Programming debate, in a beginner-friendly nutshell.</p>
          <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">View and Participate</a></p>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">Programming</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">Funtional Programming Vs OOP</a>
              </h3>
              <div class="mb-1 text-muted">Nov 12</div>
              <a href="#">View and participate</a>
            </div>
            <img class="card-img-right flex-auto d-none d-lg-block" src="images/giphy.gif" alt="Card image cap">
          </div>
        </div>
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">Janpan Animation</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">Who is Shank Father?</a>
              </h3>
              <div class="mb-1 text-muted">Nov 12</div>
              <a href="#">View and participate</a>
            </div>
            <img class="card-img-right flex-auto d-none d-lg-block" src="images/giphy.gif" alt="Card image cap">
          </div>
        </div>
      </div>
    
    </div><!-- /container -->

    <!-- modal -->
        <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                            <i class="fa fa-envelope prefix grey-text"></i>
                            <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
                            <input type="email" id="defaultForm-email" class="form-control validate">
                        </div>

                        <div class="md-form mb-4">
                            <i class="fa fa-lock prefix grey-text"></i>
                            <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
                            <input type="password" id="defaultForm-pass" class="form-control validate">
                        </div>

                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button class="btn btn-default">Login</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal -->